@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin: 10px 20px;
  text-align: center;
}

.software-skill-inline > img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: grayscale(1) brightness(0.7);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.software-skill-inline:hover > img {
  transform: scale(1.2);
  filter: grayscale(0) brightness(1.6);
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
  margin-top: 5px;
  transition: color 0.3s ease-in-out;
}

.software-skill-inline:hover > p {
  color: $skillsColor;
}
